# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/.checkstyle
/okocraft-api/build.gradle.kts
/okocraft-checkstyle/build.gradle.kts
/okocraft-server/build.gradle.kts
/okocraft-server/src/minecraft
/paper-api
/paper-api-generator
/paper-checkstyle
/paper-server
/folia-api
/folia-checkstyle
/folia-server

.idea/
.DS_Store
