name: Patch and Build
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4.1.2
      - name: Set up JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3.3.0
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.3.0
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/folia' }}
          gradle-home-cache-cleanup: true
      - name: Configure Git User Details
        run: git config --global user.email "actions@github.com" && git config --global user.name "Github Actions"
      - run: chmod +x ./gradlew
      - name: Apply Patches
        run: ./gradlew applyPatches --stacktrace
      - name: Build
        run: ./gradlew createReobfPaperclipJar --stacktrace
      - name: Upload
        uses: actions/upload-artifact@v4.3.2
        continue-on-error: true
        with:
          name: Okocraft-Build-${{ github.run_number }}
          path: ./build/libs/okocraft-paperclip-*.jar
