name: Patch and Build
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4.1.1
      - name: Set up JDK
        uses: actions/setup-java@v4.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Configure Git User Details
        run: git config --global user.email "actions@github.com" && git config --global user.name "Github Actions"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - run: chmod +x ./gradlew
      - name: Apply Patches
        uses: gradle/gradle-build-action@v2.11.0
        with:
          arguments: applyPatches --stacktrace
          gradle-home-cache-cleanup: true
      - name: Build
        uses: gradle/gradle-build-action@v2.11.0
        with:
          arguments: createReobfPaperclipJar --stacktrace
      - name: Upload
        uses: actions/upload-artifact@v3.1.3
        continue-on-error: true
        with:
          name: Okocraft-Build-${{ github.run_number }}
          path: ./build/libs/okocraft-paperclip-*.jar
