name: Patch and Build
on: [ push, pull_request ]
jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v3.2.0
      - name: Set up JDK
        uses: actions/setup-java@v3.9.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Configure Git User Details
        run: git config --global user.email "actions@github.com" && git config --global user.name "Github Actions"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.5
      - run: chmod +x ./gradlew
      - name: Apply Patches
        uses: gradle/gradle-build-action@v2.3.3
        with:
          arguments: applyPatches --stacktrace
      - name: Build
        uses: gradle/gradle-build-action@v2.3.3
        with:
          arguments: createReobfPaperclipJar --stacktrace
      - name: Upload
        uses: actions/upload-artifact@v3.1.1
        continue-on-error: true
        with:
          name: Okocraft-Pufferfish-Build-${{ github.run_number }}
          path: ./build/libs/pufferfish-paperclip-1.19.3-R0.1-SNAPSHOT-reobf.jar
